services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3333:3333"
    depends_on:
      - redis
    networks:
      - oti-network

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - oti-network
    command: redis-server --appendonly yes

networks:
  oti-network:
    driver: bridge

volumes:
  redis-data:
    driver: local
